// custom checkbox button
.cs-checkbox {
    span:nth-child(2) {
        padding: 2px 0 0 3px;
        margin-bottom: 0;
    }
    .Mui-checked > span {
        &:before {
            visibility: hidden;
        }
        &:after {
            content: "";
            overflow: inherit !important;
            // background: url("../../images/icons/checkbox-fill.png") no-repeat;
            width: 20px;
            height: 20px;
            background-size: 100%;
            position: absolute;
            left: 0;
            top: 1px;
            z-index: 9;
            border-radius: 1px;
        }
    }
    span {
        float: left;
        border-radius: 0;

        svg {
            visibility: hidden;
        }
    }
    input:before {
        display: none;
    }
    > span:nth-child(1) {
        position: relative;
        padding-left: 0;
        margin: 0 0 0 12px;
        width: 20px;
        height: 21px;
        :before {
            content: "";
            overflow: inherit;
            // background: url("../../images/icons/checkbox.png") no-repeat;
            width: 20px;
            height: 20px;
            background-size: 100%;
            position: absolute;
            left: 0;
            top: 1px;
            z-index: 1;
        }
    }
}
.pagination-section {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
    @media screen and (max-width: 767px) {
        display: block;
    }
    .result-text {
        font-size: 18px;
        font-family: "Narin-Regular";
        margin-right: 10px;
    }
    .dropdown-select {
        min-width: 110px;
        > div > div {
            padding: 0 8px;
        }
        div {
            font-size: 18px;
            font-family: "Narin-Regular";
        }
    }
    .MuiPagination-ul li button {
        background: #fff;
        border-radius: 3px;
        border: 1px solid #cfcfcf;
        font-size: 18px;
        font-family: "Narin-Regular";
        margin-left: 8px;
        &.Mui-selected {
            background: #ecebeb;
            cursor: default;
        }
    }
}
.MuiSwitch-sizeMedium {
    width: 64px !important;
    padding: 12px 0 !important;
    .MuiSwitch-switchBase {
        transform: translateX(20px);
        &.Mui-checked {
            transform: translateX(40px);
        }
    }
    .MuiSwitch-track {
        width: 2.5rem;
    }
}
.alert {
    position: relative;
    padding: 12px 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 15px;
    text-align: left;
    margin-top: 16px;
    &.alert-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
    }
    &.alert-danger {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }
}
@media screen and (max-width: 767px) {
    .filter-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 14px 0px rgba(40, 43, 59, 0.2);
        z-index: 9;
        > div {
            margin: 0;
        }
        > div > div {
            display: flex;
            width: 100%;
            button,
            > div {
                flex: 1;
                margin-right: 0;
                border-radius: 0;
                box-shadow: none;
                min-width: auto;
                button {
                    width: 100%;
                    margin-left: 0;
                    border-radius: 0;
                    border-right: 1px solid #f3f3f3;
                }
            }
            > div.date {
                border-left: 1px solid #f3f3f3;
            }

            button {
                padding: 18px 10px !important;
            }
        }
    }
    .stream-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 14px 0px rgba(40, 43, 59, 0.2);
        z-index: 9;
        display: flex !important;
        padding: 10px 10px;
        > div {
            flex: 1;
            
            margin: 0 !important;
            text-align: center;
        }
        button {
            flex: 1;
            &.btn-second{
                min-width: 170px;
            }
            &.secondary-btn{
                margin-left: 20px;
            }
        }
    }
}
// Custom Radio Button
.cs-radio {
    span {
        float: left;
        line-height: normal !important;
        z-index: 0;
    }
    // .MuiFormControlLabel-label{
    //     padding: 3px 0 0 0 !important;
    //     align-items: center;
    //     display: flex;
    // }
    span:nth-child(1) {
        position: relative;
        padding-left: 0;
        margin: 2px 0 0 12px;
        width: 20px;
        height: 20px;
        span:nth-child(1) {
            /* overflow: hidden; */
            border-radius: 0;
            visibility: hidden;
        }
        span ~ span {
            display: none;
        }
        span {
            svg {
                visibility: hidden;
            }
        }
        span:before {
            content: "";
            // background: url("../../images/icons/radio-bg.png") no-repeat;
            width: 20px;
            height: 20px;
            background-size: 100%;
            position: absolute;
            left: -4px;
            top: 5px;
            z-index: 1;
        }
    }
    > span:after {
        z-index: 9 !important;
        left: -10px !important;
        top: -1px !important;
        width: 20px !important;
        height: 20px !important;
        // right: auto !important;
        background-image: linear-gradient(195deg, #000, #000);
    }
    .Mui-checked > span {
        &:before {
            visibility: hidden;
        }
    }
    &.Mui-disabled {
        opacity: 0.5;
    }
}

.cs-dropdown {
    width: 100%;
    // position: relative;
    // z-index: 2;
    .form-select {
        position: relative;
        padding: 0;
        min-width: 100px;
        // fieldset{
        //     top: 0;
        // }
        // fieldset legend span{
        //     display: none ;
        // }
    }
    // .form-select:after {
    //     content: "";
    //     background: url("../../images/icons/down-arrow.png") no-repeat;
    //     width: 18px;
    //     height: 9px;
    //     content: "";
    //     margin-right: 6px;
    //     background-size: 100%;
    //     background-repeat: no-repeat;
    // }
    .css-1jqq78o-placeholder,
    .css-1dimb5e-singleValue,
    .css-1nmdiq5-menu,
    .css-1nmdiq5-menu div {
        font-size: 18px;
        font-family: "Narin-Regular";
        text-transform: capitalize;
    }
    // .css-1nmdiq5-menu{
    //     z-index: 9999;
    // }
    .css-qbdosj-Input {
        font-size: 16px;
        min-height: 40px;
        font-family: "Narin-Regular";
    }
    &.icon {
        .form-select:after {
            content: "";
            // background: url("../../images/icons/down-arrow.png") no-repeat;
            width: 18px;
            height: 9px;
            content: "";
            margin-right: 6px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
.hover-dropdown {
    position: relative;
    .explanation-icon {
        width: 13px;
        height: 15px;
        cursor: pointer;
    }
    .content-area {
        position: absolute;
        top: 20px;
        left: -30px;
        display: none;
        z-index: 9;
        @media screen and (max-width: 767px) {
            left: 80px;
        }
        @media only screen and (max-width: 1180px) and (min-width: 768px) {
            left: -245px;
        }
        > div {
            background: #282b3b;
            width: 260px;
            min-height: 140px;
            border-radius: 8px;
            text-wrap: initial;
            line-height: 22px;
            color: #fff;
            padding: 16px 16px 10px 16px;
            font-size: 14px;
            p {
                margin-bottom: 8px;
                color: #fff;
            }
            @media screen and (max-width: 767px) {
                width: 160px;
                padding: 10px 8px 10px 8px;
            }
        }
    }
    .explanation-icon:hover ~ .content-area {
        display: block;
    }
    &.left {
        .content-area {
            right: -30px;
            left: auto;
        }
    }
    &.quest {
        margin-left: -8px;
        margin-right: 20px;
        .content-area {
            left: -130px;
            top: 30px;
            > div {
                width: 430px;
                font-size: 12px;
                line-height: 16px;
                @media screen and (max-width: 767px) {
                    width: 300px;
                }
                p {
                    margin-bottom: 1px;
                }
            }
        }
    }
    &.quest1 {
        margin-left: -8px;
        .content-area {
            left: -270px;
            top: 30px;
            @media screen and (max-width: 767px) {
                left: -230px;
            }
            > div {
                width: 430px;
                font-size: 12px;
                line-height: 16px;
                @media screen and (max-width: 767px) {
                    width: 300px;
                }
                p {
                    margin-bottom: 1px;
                }
            }
        }
    }
    &.quest2 {
        margin-left: 10px;
        padding-top: 3px;
        .explanation-icon {
            width: 15px;
        }
        .content-area {
            left: -190px;
            top: 30px;
            // @media screen and (max-width: 767px) {
            //     left: -240px;
            // }
            > div {
                width: 360px;
                // font-size: 12px;
                // line-height: 16px;
                text-align: left;
                @media screen and (max-width: 767px) {
                    width: 280px;
                }
                p {
                    margin-bottom: 2px;
                    text-align: left;
                }
            }
        }
    }
}
