.stream-modal {
    .modal-dialog {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        @media screen and (max-width: 767px) {
            padding: 0 10px;
        }
        .modal-content {
            width: 600px;
            border-radius: 30px;
            background: #f3f4f7;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
            .modal-header {
                width: 100%;
                text-align: right;
                .modal-close {
                    padding: 6px 0 0 0;
                    background: transparent;
                }
            }
            .modal-heading {
                text-align: center;
                padding: 20px;
                h2 {
                    color: #282B3B;
                    text-align: center;
                    font-family: "Narin-Regular";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 33px;
                }
            }
            .modal-btn {
                display: block;
                padding: 0 35px 20px 35px;
                @media screen and (max-width: 767px) {
                    padding: 0 20px 40px 20px;
                }
                button {
                    background: #282b3b;
                    width: 100%;
                    margin-bottom: 20px;
                    font-family: "Narin-Regular";
                    font-size: 24px;
                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    &.upload {
        .modal-dialog .modal-content {
            width: 760px;
            padding: 30px 30px 0px 30px;
            .modal-body {
                border-radius: 22px;
                border: 1px dashed #88898e;
                padding: 10px 66px 30px 66px;
                margin-bottom: 20px;
                @media screen and (max-width: 767px) {
                    padding: 10px 20px 30px 20px;
                }
                .upload-doc {
                    min-height: 300px;
                    span {
                        color: #afb1bd;
                    }
                    img {
                        width: auto;
                    }
                }
            }
            .modal-footer {
                padding: 0px 0 50px 0;
                display: flex;
                justify-content: end;
            }
        }
    }
    &.transparent-confirmation {
        > div {
            background: rgba(255, 255, 255, 0.54);
        }
        .modal-content {
            background: transparent;
            text-align: center;
            .loading-image {
                width: 80px;
                margin-bottom: 30px;
            }
            .content-section h3 {
                color: #282b3b;
                text-align: center;
                font-family: "Narin-Black";
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 44px;
            }
        }
    }

    &.banner-md {
        .modal-content {
            width: 660px;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
            .modal-heading {
                padding: 0 15px 20px 15px;
            }

            .modal-body {
                padding: 10px 26px 10px 26px;
                // .forminput {
                //     fieldset {
                //         top: 0;
                //     }
                // }
            }
            .modal-footer {
                text-align: right;
                padding: 0px 26px 50px 26px;
            }
        }
    }
    &.modal-xl {
        .modal-content {
            width: 1024px;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            .modal-heading {
                padding: 0 15px 20px 15px;
            }
            .modal-heading h2 {
                color: #282B3B;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 33px;
            }
            .modal-body {
                padding: 10px 20px 30px 20px;
                .forminput {
                    fieldset {
                        top: 0;
                    }
                }
            }
            .modal-footer {
                text-align: center;
                padding: 20px 10px 50px 10px;
            }
        }
    }
    &.modal-xl.notification-modal {
        .modal-content {
            .modal-heading {
                padding: 40px 30px 30px 30px;
                border-bottom: 1px solid #cfcfcf;
                h4 {
                    text-align: left;
                    font-weight: normal;
                    strong {
                        font-weight: bold;
                    }
                }
                p {
                    text-align: right;
                }
            }
            .device-content {
                padding: 30px;
            }
        }
    }
}
